<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>check</title>
<style type="text/css" media="screen">
      @import url("static/styles/styles.css");
      </style>
</head>
<body>
  <h1>check</h1>
  <a href='/data'>データを見る</a>
</body>
</html>
